header {
    height: 7vh;
    border-bottom: 2px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.showChatList {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.hidden {
    transform: translateY(-100%);
}

.visible {
    transform: translateY(0);
}

.headerBtn > img {
    height: 40px;
}

.headerBtn {
    background-color: inherit;
    border: none;
    width: fit-content;
}

.controlPanel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlPanel > h1 {
    margin-left: 1rem;
}

.hideChatListBtn {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}




